/data
/corbeille
/.venv

/project/weights
/project/trainning_1
/project/trainning_2

backbone.txt
docker_run.txt
.env.local

*.pyc
*/__pycache__/*
*.cpython-*.pyc
*/__pycache__/*

Pipeline_Final/data/dataset/*
Pipeline_Final/results/captionning/*
Pipeline_Final/results/autoencoder/*
Pipeline_Final/results/classification/*

Pipeline_Final/weights/classification/cp*
